@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.nav{
    position: absolute;
    height: 100%;
    background-color: rgba(5, 255, 255, 0.502);
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
